
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
<body class="w3-light-grey">

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
  <a href="https://www.facebook.com/rusty.story.9?__tn__=%2CdCH-R-R&eid=ARDN2NSpmyZbYK5Uoa0ph8xPSAheTcLiQKWQ1DD3mlCNhmVsKBfM1M2jAojWzVGReqsInIDMiiiUF1Rd&hc_ref=ARRvBsLRUYr1RdVaklUSI8XQa59UfOkpRtA3Zg_-7OZjLxavg2R1i3T6QXbpscpYTYw&fref=nf" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
  <a href="https://www.instagram.com/rusty_story/" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
</div>
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>BULLDOG PUPPIES</b></h1>
    <h6>Welcome to the first litter of <span class="w3-tag">Millie</span></h6>
  </header>

  <!-- Image header -->
  <header class="w3-display-container w3-wide" id="home">
      <%= image_tag("allpuppies.jpg", :alt => "rss feed", :width =>"1200", :height =>"800") %>
      
    
    <div class="w3-display-left w3-padding-large">
      <h1 class="w3-text-white">Puppies</h1>
      <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>EVERYWHERE</b></h1>
      <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">CONTACT OWNER</button></h6>
    </div>
  </header>

  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
    
      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>LOUIE</h3>
          <h5>Last Updated <span class="w3-opacity">June 10, 2019</span></h5>
        </div>

        <div class="w3-justify">
            <%= image_tag("kenzie.jpg", :alt => "rss feed", :width =>"50%",  :class => "w3-padding-16") %>
          
          <p><strong>I'm Louie!</strong> I really love cuddling, especially sitting in your lap.
          I sleep most of the time and tend to cuddle with my brothers and sisters when I do so.
          
          
          </p>
          <p>Price: $3998</p>
          <p>Sex: girl</p>
          <p>Registered? yes</p>
           
          
          <p class="w3-clear"></p>

        </div>
      </div>
      <hr>

      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>KENZIE</h3>
          <h5>Last Updated <span class="w3-opacity">June 10, 2019</span></h5>
        </div>

        <div class="w3-justify">
            <%= image_tag("louie1.jpg", :alt => "rss feed", :width =>"50%",  :class => "w3-padding-16") %>
          
          <p><strong>I'm Kenzie!</strong> I was named after my favorite aunt, Mackenzie Ford. I really am the best dog and that's why I cost $15k.
          
          
          </p>
          <p>Price: $15,000</p>
          <p>Sex: girl</p>
          <p>Registered? yes</p>
           
          
          <p class="w3-clear"></p>

        </div>
      </div>

      
    <!-- END BLOG ENTRIES -->
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-white w3-margin">
          <%= image_tag("russandp.jpg", :alt => "rss feed", :width => "60%") %>
       
        <div class="w3-container w3-black">
          <h4>Millie</h4>
          <p>Hello, I'm Millie!  As you might have guessed, I am the mother of these puppies.</p>
          <p> I am cared for by Rusty Story (left) and Peyton Ford (right).</p>
          <p> I love my puppies very much and I want them to have the best home.  </p>
          <p> Will you care for my puppies?  </p>
        </div>
      </div>
      <hr>

      <!-- Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>More Information</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="/app/assets/images/p1.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Louie</span>
            <br>
            <span>Girl, $3998</span>
          </li>
          <li class="w3-padding-16">
            <img src="/w3images/bandmember.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Kenzie</span>
            <br>
            <span>Girl, $4500</span>
          </li>
          <li class="w3-padding-16">
            <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Lily</span>
            <br>
            <span>Girl, $5000</span>
          </li>
          <li class="w3-padding-16">
            <img src="/w3images/avatar_smoke.jpg" alt="Image" class="w3-left w3-margin-right w3-sepia" style="width:50px">
            <span class="w3-large">Millie Jr</span>
            <br>
            <span>Girl, $3500</span>
          </li>
        </ul>
      </div>
      <hr>

      <!-- Advertising -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Advertise</h4>
        </div>
        <div class="w3-container w3-white">
          <div class="w3-container w3-display-container w3-light-grey w3-section" style="height:200px">
            <span class="w3-display-middle">Your AD Here</span>
          </div>
        </div>
      </div>
      <hr>

      <!-- Tags -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Tags</h4>
        </div>
        <div class="w3-container w3-white">
          <p>
            <span class="w3-tag w3-black w3-margin-bottom">Fashion</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Hats</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Norway</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sweaters</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Deals</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Accessories</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Jeans</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Trends</span>
          </p>
        </div>
      </div>
      <hr>

      <!-- Inspiration -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Inspiration</h4>
        </div>
        <div class="w3-row-padding w3-white">
          <div class="w3-col s6">
            <p><img src="/w3images/jeans.jpg" alt="Jeans" style="width:100%"></p>
            <p><img src="/w3images/team1.jpg" alt="Jeans" style="width:100%"></p>
          </div>
          <div class="w3-col s6">
            <p><img src="/w3images/avatar_hat.jpg" alt="Men in Hats" style="width:100%" class="w3-grayscale"></p>
            <p><img src="/w3images/team4.jpg" alt="Jeans" style="width:100%"></p>
         </div>
        </div>
      </div>
      <hr>

      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Follow Me</h4>
        </div>
        <div class="w3-container w3-xlarge w3-padding">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
      </div>
      <hr>
      
      <!-- Subscribe -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Email the owner</h4>
        </div>
        <div class="w3-container w3-white">
          
          <p>I'm Rusty Story and I'm the owner of these cute puppies.  Email me to schedule an appointment to see them. </p>
          <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-block w3-red">Email Rusty</button></p>
        </div>
      </div>

    <!-- END About/Intro Menu -->
    </div>

  <!-- END GRID -->
  </div>

<!-- END w3-content -->
</div>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">Email the Owner</h2>
      <p>Shoot me, Rusty Story, an email to make an appointment to see the puppies. </p>
      
      <a href="mailto:kenzford8@gmail.com">
      <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'" >Contact Rusty</button>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>We are an honest Christian family and this is our first time selling puppies.  </p>
  <p>We want our puppies to have the best home, and we would really like to get to know you.</p>
  <p>Please contact us with any questions.  </p>
  <p>Love, Rusty and Peyton </p>
</footer>

<script>
// Toggle between hiding and showing blog replies/comments
document.getElementById("myBtn").click();
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

function likeFunction(x) {
  x.style.fontWeight = "bold";
  x.innerHTML = "✓ Liked";
}
</script>

</body>
</html>
